/* gif images container styles */
.display {
    border-radius: 0.5rem;
    column-width: 13rem;
    column-gap: 1rem;
    margin-block: 3rem;
}

/* gif container styles */
.gif {
    background-color: rgb(32, 32, 32);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    overflow: hidden;
}

.gif>img {
    width: 100%;
}